Watercolor Renderer/project/watercolour/.vs
Watercolor Renderer/project/watercolour/Lab7/x64/Debug
Watercolor Renderer/project/watercolour/x64
Watercolor Renderer/lib/glfw-3.3.9.bin.WIN64/lib-vc2019
Watercolor Renderer/lib/glfw-3.3.9.bin.WIN64/lib-vc2017
Watercolor Renderer/lib/glfw-3.3.9.bin.WIN64/lib-vc2015
Watercolor Renderer/lib/glfw-3.3.9.bin.WIN64/lib-vc2013
Watercolor Renderer/lib/glfw-3.3.9.bin.WIN64/lib-vc2012
